 <footer class="col-sm-12" id="rodape">
     <div></div>
     <div class="col-sm-2"><img src="/images/logo3.png" width="150px" alt=""></div>
     <div class="col-sm-10">
         <ul id="nav-footer">
             <li><a href="https://www.facebook.com/ibatistadafe/"><i class='fab fa-facebook-square'
                         style='font-size:40px;color:#fff'></i></a></li>
             <li><a href="https://www.instagram.com/ibatistadafe/"> <i class='fab fa-instagram'
                         style='font-size:40px;color:#fff'></i></a></li>
             <li><a href="https://www.youtube.com/channel/UC0XW6MHYukxQowIx-tql9lA"><i class='fab fa-youtube'
                         style='font-size:40px;color:#fff'></i></a> </li>
         </ul>
       
         <div class=""></div>
     </div>

    


 </footer>
 </main>
 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
     integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
 </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
 </script>
 </body>

 </html>