<header>
<div class="banner-header"><img src="/images/banner-header-logo.png" alt=""></div>

<nav class="navbar navbar-expand-lg navbar-light" id="menu-home">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link <%=nav.home%>" href="/home">Pequeno Grupos</a>
        <a class="nav-item nav-link <%=nav.sobre%> " href="/sobre">Sobre </a>
        <a class="nav-item nav-link <%=nav.contato%>" href="/contato">Contato</a>
        <a class="nav-item nav-link <%=nav.sistema%>" href="/sistema">Sistema</a>
      </div>
    </div>
  </nav>
</header>