
<%-include('../partials/head-system.ejs')%> 
<main class="contaner">
    <label for="menu-sanduiche" id="label-sanduiche"> <i class="fas fa-list-alt"></i></label>
    <div class="main">
        <input type="checkbox" id="menu-sanduiche">
        <aside class="" id="menu">

            <nav id="painel-btn">
                <div id="foto-profile"><img src="/images/pastor.jpg" alt="..." class="img-thumbnail">
                </div>
                <label class="perfil-usuario" for=""><b> Pr. Luciano</b><br>Status: ADM</label>
                <hr>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                        role="tab" aria-controls="v-pills-home" aria-selected="true"> <i class='fas fa-user-cog'
                            style='font-size:15px'> Cadastros</i></a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                        role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class='fas fa-users'
                            style='font-size:15px'> P. Grupos</i></a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                        role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class='fas fa-pray'
                            style='font-size:15px'> Relatorio</i></a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                        role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class='fas fa-bible'
                            style='font-size:15px'> Lições</i></a>
                </div>

            </nav>
        </aside>
        <article class="" id="corpo">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="corpo-titulo"><i class='fas fa-user-cog' style='font-size:24px'> Cadastros</i></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="/system/membro" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='fas fa-user-circle' style='font-size:36px'><b
                                            style="font-size: 25px;"> Usuario</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='fas fa-user-friends' style='font-size:36px'><b
                                            style="font-size: 25px;"> Visitantes</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <!-- grupo -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">
                    <div class="corpo-titulo"><i class='fas fa-users' style='font-size:24px'> P. Grupos</i></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- relat -->

                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">
                    <div class="corpo-titulo"><i class='fas fa-pray' style='font-size:24px'> Relatorio</i></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- lição -->
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">
                    <div class="corpo-titulo"><i class='fas fa-bible' style='font-size:24px'> Lições</i></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-header"><i class='far fa-address-book' style='font-size:36px'><b
                                            style="font-size: 25px;"> Membro</b></i></div>
                                <div class="card-body">
                                    <p class="card-text">Cadastro de membro que estão frequentando umpequeno grupo
                                    </p>
                                    <a href="#" class="btn btn-primary">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </article>
    </div>
</main>
<%-include('../partials/footer-system.ejs')%> 