<%-include('./partials/head.ejs')%>
<%-include('./partials/nav.ejs')%>

<main class="teste">
    <div class="foto-corpo"><img src="/images/nome_pequeno_grupo.png" alt="" width="70%"></div>

    <div class="row">
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="">
                    <img src="/images/slide1.jpg" id="imagem-texto1" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="texto1">
                    <h2>BEM VINDO</h2>
                    <p>Buscamos ser um povo de fé verdadeira e vibrante que alia espiritualidade, emotividade, racionalidade e prática, afim de podermos agradar a Deus e servir ao próximo. Almejamos ser uma família que, nos momentos alegres, se reúne para festejar e agradecer a Deus e, nos momentos difíceis, se reúne para chorar, transmitir força e buscar a ajuda do Senhor.</p>
                    <p>Se você é uma pessoa comum que chora nos momentos tristes, faz festa nos momentos alegres e está disposta a amar e receber amor, então seja bem-vindo, a Igreja Batista da Fé também é sua casa..</p>


                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="texto2">
                    <h2>Lorem ipsum dolor</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem voluptate dignissimos repudiandae
                    eveniet eaque commodi magni cum officia laborum illo magnam ullam nam blanditiis quos esse pariatur,
                    fugiat et.
                </div>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="imagem-texto2">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/slide2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/slide2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/slide1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12">
        <div class="">
            <div class="card-body" id="texto2">
                <h2>Sempre tem um Pequeno Grupo perto de você!</h2>
            </div>

        </div>
    </div>

    <div class="row" id="local-peq-grupo">

        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/IMG_20180411_111301015~3.jpg" class="card-img"
                        id="img-local-peq-grupo" alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão Desus é Amor</h5>
                    <p class="card-text"><b>Alessandro Barbosa Vitorio</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide2.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Fé</h5>
                    <p class="card-text"><b>Sandra & Sandro</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide1.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Gloria</h5>
                    <p class="card-text"><b>Giovan & Miriam</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide1.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Gloria</h5>
                    <p class="card-text"><b>Giovan & Miriam</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide1.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Gloria</h5>
                    <p class="card-text"><b>Giovan & Miriam</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide1.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Gloria</h5>
                    <p class="card-text"><b>Giovan & Miriam</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" id="card-local-peq-grupo">
                <div id="box-local-peq-grupo"> <img src="/images/slide1.jpg" class="card-img" id="img-local-peq-grupo"
                        alt="..."></div>
                <div class="card-body">
                    <h5 class="card-title">Conexão da Gloria</h5>
                    <p class="card-text"><b>Giovan & Miriam</b></p>
                    <p class="card-text">Fone: (11) 95496-5202</p>
                    <p class="card-text">Bairro: Jd. Ipê</p>

                </div>
            </div>
        </div>
    </div>

   
<%-include('./partials/footer.ejs')%>