<%-include('./partials/head.ejs')%>
<body class="<%=nav.classBody%>">
   
       
      
    <div id="logo"> <div><img src="/images/logo3.png" alt="" width="100%"></div> </div>
    <div id="slogan">
        <h1 class="text">Pequenos Grupos</h1>
    </div>

    <input type="checkbox" id="menu-haburguer">
    <label for="menu-haburguer">
    <div class="menu-pai">  
    <div class="menu">
        <span class="hamburguer"></span>
    </div>
    </div>  
    </label>

    <div id="logo-grupo-box"><img id="logo-grupo" src="/images/Imagem1.png"  alt=""></div>
    <nav>
           <ul>
      
        <li style="border-top: 4px solid orangered;"><a style="color: orangered;" href="/home">Peq. Grupos</a></li>
        <li style="border-top: 4px solid rgba(5, 179, 5, 0.959);"><a style="color: rgba(5, 179, 5, 0.959)" href="/sobre">Sobre</a></li>
        <li style="border-top: 4px solid #41bec2;"><a style="color: #41bec2;" href="/contato">Contato</a></li>
        <li style="border-top: 4px solid orange;"><a style="color: orange" href="/login">Sistema</a></li>
        
    </ul>
</nav>

</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
</body>

</html>