<%-include('./partials/head.ejs')%>
<%-include('./partials/nav.ejs')%>

<main class="teste">
    <div class="foto-corpo-sobre"><img src="" alt="" width="70%"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="">
                    <img src="/images/sobre-2.jpg" id="" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="texto1">
                    <h2>BEM VINDO</h2>
                    <p>Buscamos ser um povo de fé verdadeira e vibrante que alia espiritualidade, emotividade,
                        racionalidade e prática, afim de podermos agradar a Deus e servir ao próximo. Almejamos ser uma
                        família que, nos momentos alegres, se reúne para festejar e agradecer a Deus e, nos momentos
                        difíceis, se reúne para chorar, transmitir força e buscar a ajuda do Senhor.</p>
                    <p>Se você é uma pessoa comum que chora nos momentos tristes, faz festa nos momentos alegres e está
                        disposta a amar e receber amor, então seja bem-vindo, a Igreja Batista da Fé também é sua casa..
                    </p>
                </div>
            </div>
        </div>
            
    </div>
    <div class="row" id="video-row">
    <div class="col-sm-6" id="video">
        
              
        </div>
    </div>
</div>
    <%-include('./partials/footer.ejs')%>
</main>