<%-include('./partials/head.ejs')%>
<%-include('./partials/nav.ejs')%>

<main class="teste">

    <div class="" style="text-align: left;">
        <i class='fas fa-map-marked-alt'
       style='font-size:18px;color:rgb(8, 8, 8)'> R. Antônio Sálvia, 73
       05854-030 São Paulo</i> <br>
       <i class='fas fa-phone-square'
       style='font-size:18px;color:rgb(10, 8, 8)'> (11) 98376-8653</i>
    </div>
</main>


<%-include('./partials/footer.ejs')%>