<%-include('./partials/head.ejs')%>
<%-include('./partials/nav.ejs')%>

<main class="teste">
    <div class="foto-corpo-sobre"><img src="" alt="" width="70%"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="">
                    <img src="/images/sobre-2.jpg" id="" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="">
                <div class="card-body" id="texto1">
                    <h2>BEM VINDO</h2>
                    <p>Buscamos ser um povo de fé verdadeira e vibrante que alia espiritualidade, emotividade,
                        racionalidade e prática, afim de podermos agradar a Deus e servir ao próximo. Almejamos ser uma
                        família que, nos momentos alegres, se reúne para festejar e agradecer a Deus e, nos momentos
                        difíceis, se reúne para chorar, transmitir força e buscar a ajuda do Senhor.</p>
                    <p>Se você é uma pessoa comum que chora nos momentos tristes, faz festa nos momentos alegres e está
                        disposta a amar e receber amor, então seja bem-vindo, a Igreja Batista da Fé também é sua casa..
                    </p>
                </div>
            </div>
        </div>
     
    </div>
        
            <div class="col-sm-12" id="video">
                <div class="col-sm-8">
                    <div class="card" id="card-local-peq-pastor">
                        <div id="box-local-peq-pastor"> <img src="/images/pastor.jpg" class="card-img" id="img-local-peq-pastor"
                                alt=""></div>
                        <div class="card-body" style="margin-top: 25px;">
                            <h5 class="card-title">Pr Luciano.</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus expedita quia cum ex sapiente neque voluptate illum laboriosam ullam? Autem ullam natus eum, quia accusamus ratione tempore dolorem quos quo!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            
        
                        </div>
                    </div>
                </div>
            </div>
     
     
    </div>
    
    
    </div>
    
    <%-include('./partials/footer.ejs')%>
   
</main>