*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.text {
    font-weight: 30%;
    font-size: 5rem;
    color: white;
    border: 3px solid white;
    padding: 2rem 4rem;
    text-align: center;
    margin: 20px;

}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, orangered, rgba(5, 179, 5, 0.959), #41bec2, orange);
    background-size: 400% 400%;
    animation: colors 15s ease infinite;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
}

#logo {
    display: flex;
    width: 40%;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.menu {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    position: fixed;
    bottom: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #fff, 0px 0px 0px 0px #fff;
    transition: box-shadow 1s ease-in-out;

}

.menu:hover {
    box-shadow: 0px 0px 0px 8px #fff, 0px 0px 0px 8px #fff;
}

.hamburguer {
    display: block;
    background: linear-gradient(45deg, orangered, rgba(5, 179, 5, 0.959), #41bec2, orange);
    width: 30px;
    height: 2px;
    position: relative;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: linear-gradient(45deg, orangered, rgba(5, 179, 5, 0.959), #41bec2, orange);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px
}

.hamburguer:after {
    bottom: -10px
}

#menu-haburguer {
    display: none;
}

input:checked~label .menu {
    box-shadow: 0px 0px 0px 130vw white, 0px 0px 0px 130vh white;
}


input:checked~label .hamburguer {
    transform: rotate(45deg);

}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;

}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;

}

input:checked~nav ul {
    opacity: 1;
    transition: 1s ease-in-out;
}

#logo-grupo-box {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 1s ease-in-out;
}

#logo-grupo {

    width: 100%;


}

input:checked~div#logo-grupo-box {
    opacity: 1;
    transition: 1s ease-in-out;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;

}

nav ul {

    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: 1s ease-in-out;

}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 120px;
    margin-left: 10px;
    text-align: center;

    /* border-radius: 6px; */
    /* box-shadow: 0px 0px 8px; */
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li:hover {

    /* background-color: rgba(128, 128, 128, 0.322); */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 1px 6px black;
    transition: .6s ease-in-out;
    height: 40px;

}

nav ul li a {
    margin-bottom: 40px;
    font-size: 20px;
    text-decoration: none;
    transform: translate(-50%, -50%);

}

header {
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.banner-header {
    background-image: url('/images/banner-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.banner-header img {
    width: 40%;
    height: 35%;
}

div.navbar-nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;

}

#navbarNavAltMarkup a {
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 200px;

    text-align: center;
}

#navbarNavAltMarkup a:hover {
    border-top: 5px solid white;
}

#menu-home {
    background: #75C2DB;


}

#navbarNavAltMarkup {
    justify-content: space-around;

}

.active {
    border-top: 5px solid white;
    background-color: rgba(0, 0, 0, 0.199);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.home-body {
    background-color: rgba(206, 206, 206, 0.904);
    /* background-image: url('texture-1362879_960_720.webp');     */
    background-repeat: no-repeat;
    background-size: cover;

}


@media (min-width: 1200px) {
    .container {

        margin-top: 30px;
        width: 100vw;
        height: 100%;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 0 12px black;
        padding: 0;

    }
}

.teste {
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 12px black;
    margin-top: 15px;
    margin-top: 221px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.foto-corpo {
    width: 100%;
    height: 60vh;
    background-image: url('/images/oracao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

@media (max-width:1260px) {
    .teste {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        background-color: white;
        box-shadow: 0px 0px 12px black;
        margin-top: 15px;
        margin-top: 221px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

    .foto-corpo {
        width: 100%;
        height: 100px;
        background-image: url('/images/oracao.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #imagem-texto1 {
        background-image: url('/images/peqGrupo.jpg');
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.foto-container {
    width: 100%;
    height: 40vh;
    background-image: url('/images/oracao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;


}

.foto-container h1 {
    color: white;
    text-shadow: 1px 3px 4px black;
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 50px;
    text-align: center;
}

#carouselExampleCaptions {
    width: 80%;
    margin: 0 auto;

}

img.d-blockw-100 {
    height: 200px;

}

.row {
    display: flex;

    align-items: center;
}

#imagem-texto1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('/images/slide1.jpg');
    width: 90%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px black;
    border-top: 20px solid #75c2db;
    border-radius: 8px;
}

#texto1 {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: justify;
    border-right: 20px solid #75c2db;

}

#texto2 {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    border-top: 20px solid #75c2db;
}

#imagem-texto2 {}

#carouselExampleCaptions {
    width: 100%;
    box-shadow: 0 0 8px black;
    border-bottom: 20px solid #75c2db;
    border-radius: 8px;
}

#local-peq-grupo {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.055);
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 0px 8px black;
}

#card-local-peq-grupo {
    margin-top: 70px;
    margin-bottom: 20px;
    border: 3px solid #75c2db;
    display: flex;
    box-shadow: 0px 4px 8px black;

}

#box-local-peq-grupo {

    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;



}

#img-local-peq-grupo {

    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid #75c2db;
    position: absolute;
    top: -55px;
}
#rodape{
    height: 150px;
    background-color: #75C2DB;
    margin-top: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

}

#footer{
    text-align: center;
   
    
}
#nav-footer{
    list-style: none;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}
#nav-footer li{
    display: inline-block;
    text-align: center;
    width: 90px;
}