body * {
    margin: 0;
    padding: 0;

}

i * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
    background-color: #386e7f;
    width: 100vw;
    height: 50px;
    margin-bottom: 10px;
    position: fixed;
    box-shadow: 0px 0px 8px black;
    z-index: 2;

}

#logo {
    background-image: url('/images/logo3.png');
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}

header#nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;

}

header#nav ul li {
    display: inline-block;
    color: white;
}

#foto-profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #75c2db;
}

label.perfil-usuario {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #75c2db;

}

hr {
    border: .5px solid #75c2db;
    margin-top: 10px;

}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#menu {

    width: 30%;
    height: 100vh;

    text-align: center;
    border: #75c2db solid 2px;
    margin-top: 80px;
    margin-left: 10px;
    box-shadow: 0px 0px 4px black;

}

#menu nav div {


    margin: 0 auto;

}

#menu nav div a {
    background-color: #75c2db;
    margin-top: 10px;
    color: white;
    box-shadow: 0px 0px 4px black;

}

#menu nav div a:hover {
    background-color: #386e7f;
}

#menu nav div a.active {
    background-color: #386e7f;


}

.corpo-titulo {
    margin-top: 10px;
    color: #75c2db;
    border-bottom: 2px solid #75c2db;
    margin-right: 15px;

}

#corpo {
    margin: 80px 10px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 8px black;
    padding-left: 15px;
    border: #75c2db solid 2px;
    display: flex;


}

#menu-sanduiche {
    display: none;
}

#label-sanduiche {
    display: none;
}

#painel-btn {
    margin: 30px;
}

@media (max-width: 600px) {
    #menu {

        width: 50%;
        height: auto;
        transform: translateX(-100%);
        display: none;
        transition: 21s ease-in;
        
    }

    #label-sanduiche {
        display: block;
        text-align: center;
        position: absolute;
        left: 15px;
        top: 52px;
        cursor: pointer;
        z-index: 1;
       
    }

    #label-sanduiche i {
        font-size: 25px;
        color: #75c2db
    }

    input#menu-sanduiche:checked~#menu {

        transform: translateX(-0%);
        display: block;
        position: absolute;
      
    z-index: 1;
    background: rgba(255,255,255,0.8);
    /* display: flex; */
    width: 90%;


    }
    #corpo{
        height:auto;
       padding-bottom: 20px;
    }
    #v-pills-tabContent{
        width: inherit;
       
    }

}

.row {
    margin-right: 0;
  
}
#v-pills-tabContent{
    width: inherit;
    height: 100%;
}
div#v-pills-home .row{
   
    display: flex;
    justify-content: space-around;
}

.card {
    box-shadow: 0px 3px 12px black;
    border: none;
    margin-top: 20px;
}

.card-header {
    background-color: #75c2db;
    border: none;
    color: white;
}

.card-body a {
    background-color: #75c2db;
    border: none;
    margin-top: 15px;
}
.card-body a:hover{
    background-color: #386e7f;
}

#local-peq-grupo {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.055);
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 0px 8px black;
}

#card-local-peq-grupo {
    margin-top: 70px;
    margin-bottom: 20px;
    border: 3px solid #75c2db;
    display: flex;
    box-shadow: 0px 4px 8px black;

}
#box-local-peq-grupo {

    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 30px;



}

#img-local-peq-grupo {

    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid #75c2db;
    position: absolute;
    top: -55px;
}